{%  extends 'base.html.twig'%}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">A propos de l'équipe</h1>
    <p class="lead">Composé de 3 étudiants d'Ynov informatique Ingesup, le groupe à pour motivation de rendre son projet conformément à la demande.</p>
    <hr class="my-4">
    <p>Membres de l'équipe :</p>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Chef de projet</div>
        <div class="card-body">
            <h4 class="card-title">Guillaume Le Coq</h4>
            <p class="card-text">Étudiants d'Ynov informatique Ingesup, se projette dans le développement.</p>
        </div>
    </div>
    <div class="card bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Développeur</div>
        <div class="card-body">
            <h4 class="card-title">Benoit Galmot</h4>
            <p class="card-text">Étudiants d'Ynov informatique Ingesup, se projette dans le développement.</p>
        </div>
    </div>
    <div class="card bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Developpeur</div>
        <div class="card-body">
            <h4 class="card-title">Souleimane Seghir</h4>
            <p class="card-text">Étudiants d'Ynov informatique Ingesup, se projette dans le système et réseau.</p>
        </div>
    </div>
</div>
{% endblock %}