{%  extends 'base.html.twig'%}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Bienvenue {{ user }} !!</h1>
        <p class="lead">Solution développée à l'attention de la grande multinationale plebweb.</p>
        <hr class="my-4">
        <p>Développé par l'équipe Seghir_galmot_lecoq</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://github.com/Souleiseg/httpstatus/blob/master/README.md" role="button">Learn more</a>
        </p>
    </div>
{% endblock %}