{%  extends 'base.html.twig'%}

{% block body %}
<form  style="margin-left: 20px;" action="" method="post">
                <label>Pseudo</label><input style="margin-left: 20px;" type="text" name="username" class="box" /><br /><br />
                <label>Password </label><input style="margin-left: 20px;" type="password" name="password" /><br /><br />
                <input type="submit" value=" Submit " /><br />
            </form>
{% endblock %}

